* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  width: 100%;
}

.white-font {
  color: white;
}

.black-font {
  color: black;
}

/* *******************************************
************ Page css starts here ************
*********************************************** */

.upper-body {
  width: 100%;
}

header {
  margin: 20px 0px;
  font-weight: 500;
}

header .logo {
  min-width: 100px;
  max-width: 100%;
}

@media (min-width: 450px) {
  header .logo {
    max-width: 200px;
  }
}

header .nav a {
  text-decoration: none;
  color: black;
}

header .nav .two {
  color: #ed2761;
  font-weight: bold;
}

header .nav .two:hover {
  color: #c41b4d;
}

header .nav .one:hover {
  color: #ed2761;
}

.full-hr {
  width: 100%;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.26);
}

.form-section {
  padding: 30px 0px 100px;
}

.form-section a {
  text-decoration: none;
}

.form-section .form-wrapper {
  margin: 0px auto;
  width: 320px;
}

@media (max-width: 320px) {
  .form-section .form-wrapper {
    width: 285px;
  }
}

.form-section .heading {
  text-align: center;
  margin-bottom: 10px;
}

.form-section .heading h1 {
  font-size: 1.9rem;
  font-weight: 650;
}

.form-section .heading a {
  color: #ed2761;
}

.form-section .heading a:hover {
  color: #b91b4a;
}

.form-section .inputs {
  padding: 8px;
  width: 100%;
  height: 60px;
  margin-top: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(128, 128, 128, 0.322);
}

.form-section ::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
}

input[type="text"],
input[type="password"] {
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid gray;
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 1px solid rgb(1, 202, 202);
}

.middle {
  text-align: center;
}

.form-section .middle {
  font-size: 0.8rem;
}

.form-section .factor:hover {
  text-decoration: underline;
}

.form-section .big-login {
  width: 100%;
  color: white;
  font-weight: bold;
  margin: 20px auto;
  padding: 15px 50px;
  box-sizing: border-box;
  background-color: #ed2761;
}

.form-section .big-login:hover {
  background-color: #b91b4a;
}

.form-section .forgot {
  text-align: right;
}

.form-section .forgot:hover {
  text-decoration: underline;
}

.form-section .form-bottom {
  padding: 10px 0px;
}

.form-section .google,
.form-section .fb {
  text-align: center;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.2);
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(172, 171, 171);
  display: block;
  transition: 0.4s linear;
}

.form-section .google:hover {
  color: white;
  background-color: gray;
}

.form-section .fb:hover {
  color: white;
  background-color: gray;
}

footer {
  background-color: #282562;
  width: 100%;
  color: white;
  padding: 50px 0 20px;
}

footer a,
footer .nav-link {
  text-decoration: none;
  color: white;
}

footer .nav-link:hover {
  color: white;
  text-decoration: underline;
}

footer .row ul {
  list-style: none;
  margin-bottom: 30px;
}

footer .row ul li {
  display: inline-block;
  /* margin-right: 25px; */
}

footer .languages {
  width: 130px;
  padding: 10px 10px 10px 5px;
  background-color: transparent;
  font-size: 0.9rem;
  color: white;
  font-family: "Montserrat", sans-serif;
}

footer .help {
  margin-bottom: 50px;
  padding-left: 15px;
  display: block;
}

footer .help-button {
  padding: 10px 30px;
  background-color: #ed2761;
}

.help-button:hover {
  color: #ed2761;
  background-color: white;
}

footer .disclosure {
  padding-left: 15px;
}

footer .disclosure a {
  color: #ed2761;
}

footer .disclosure a:hover {
  /* color: #b91b4a; */
  text-decoration: underline;
}

footer .social-links {
  text-align: right;
  font-size: 1.1rem;
}

footer .social-links a {
  color: rgb(187, 187, 187);
}

footer .social-links .icon {
  padding-left: 5px;
  padding-right: 5px;
}

footer .social-links .icon:hover {
  color: white;
}

.credit {
  text-decoration: underline;
  /* font-weight: bold; */
}

.credit:hover {
  color: white;
}
